.app{
    padding: .25em;
}
.mainPart{
    float: left;
    padding: 10px;
    width: 80%;
}
.slots{
    overflow: scroll;
    height: 500px; 
    overflow-x: hidden ;
  }

.timeSlot{
    width: 100%;
    padding: 1.5em;
    text-align: left;
    border-radius: 0;
    border-width: .5px;
    background-color: white;
}

.timeSlot:hover{
    background-color: rgba(25, 118, 210, 0.04)
    
}
.activeTime{
    width: 100%;
    padding: 1.5em;
    text-align: left;
    border-radius: 0;
    border-width: .5px;
    background-color: #1976d2;
    color: white;
}

.header{
    background-color: #002649;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius:100%
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
